<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>490784728389-i97ds748rpl6qdla4lcrn51m5c6v1rrl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.490784728389-i97ds748rpl6qdla4lcrn51m5c6v1rrl</string>
	<key>API_KEY</key>
	<string>AIzaSyCdMTmERXMMfiIhhDH7M6GrmV6-mLodCVk</string>
	<key>GCM_SENDER_ID</key>
	<string>490784728389</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>test.AirshowAppOs</string>
	<key>PROJECT_ID</key>
	<string>airshowapp-d193b</string>
	<key>STORAGE_BUCKET</key>
	<string>airshowapp-d193b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:490784728389:ios:0288650616a6ff6e</string>
	<key>DATABASE_URL</key>
	<string>https://airshowapp-d193b.firebaseio.com</string>
</dict>
</plist>